<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<br>
<form action="/commu/post" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="commuTitle" class="form-label">제목</label>
        <input type="text" class="form-control" id="commuTitle" name="title" required>
    </div>
    <div class="mb-3">
        <label for="commuWriter" class="form-label">작성자</label>
        <input type="text" class="form-control" id="commuWriter" name="writer" required>
    </div>
    <div class="mb-3">
        <label for="commuContent" class="form-label">내용</label>
        <textarea class="form-control" id="commuContent" name="content" required style="height : 300px"></textarea>
    </div>
    <div class="mb-3">
        <label for="commuFile">파일</label>
        <br>
        <input type="file" id="commuFile" name="commuFile"/>
    </div>
    <br>
    <button id="btnPostCommuContent" class="btn btn-primary">작성</button>
</form>
<br>
<br>
<br>
<!-- 스크립트 호출부-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/commu.js}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</html>