<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.untitledProject.mapper.CommuMapper">

    <select id="selectCommuPostsList" parameterType="com.example.untitledProject.dto.request.CommuReq"
            resultType="com.example.untitledProject.dto.response.CommuRes">
        SELECT
            *
        FROM
            COMMU
        ORDER BY
            COMM_NO DESC
    </select>

    <insert id="insertCommuContent" parameterType="com.example.untitledProject.dto.request.CommuReq">
        <![CDATA[
           INSERT INTO COMMU
            ( COMM_NO,
            TITLE,
            CONTENT,
            WRITER,
            VIEWS,
            RGST_IP,
            RGST_ID,
            RGST_DTM,
            CHG_IP,
            CHG_ID,
            CHG_DTM
            )
            VALUES
            ( NULL,
            #{title},
            #{content},
            #{writer},
            0,
            #{rgstIp},
            #{rgstId},
            sysdate(),
            #{rgstIp},
            #{rgstId},
            sysdate()
            )
        ]]>
    </insert>

    <update id="updateCommContentViews" parameterType="com.example.untitledProject.dto.request.CommuReq">
        UPDATE COMMU
        SET VIEWS = VIEWS + 1
        WHERE COMM_NO = #{commNo}
    </update>

    <select id="selectCommuPostOne" parameterType="com.example.untitledProject.dto.request.CommuReq"
            resultType="com.example.untitledProject.dto.response.CommuRes">
        SELECT
            *
        FROM
            COMMU
        WHERE
            COMM_NO = #{commNo}
    </select>
</mapper>